.search--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    width: 77%;
    padding-block: 6rem;
    margin-inline: auto;

    & > * {
        justify-self: center;
    }
}