// ploty reset
.modebar {
    display: flex;
    align-items: center;

    & * {
        display: flex;
        align-items: center;
    }
}
.modebar-group {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;

    &:last-of-type {
        display: none !important;
    }
}
